absl_py==2.3.1+computecanada
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.12.15+computecanada
aiosignal==1.4.0+computecanada
annotated_types==0.7.0+computecanada
anyio==4.11.0+computecanada
asttokens==3.0.0+computecanada
attrs==25.4.0+computecanada
certifi==2025.10.5+computecanada
charset_normalizer==3.4.4+computecanada
chex==0.1.90+computecanada
click==8.3.0+computecanada
comm==0.2.2+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
dataclasses==0.6+computecanada
datasets==4.2.0+computecanada
debugpy==1.8.12+computecanada
decorator==5.1.1+computecanada
dill==0.4.0+computecanada
docstring_parser==0.17.0+computecanada
equinox==0.13.2
executing==2.2.0+computecanada
filelock==3.20.0+computecanada
fonttools==4.55.8+computecanada
frozenlist==1.8.0+computecanada
fsspec==2025.9.0+computecanada
gitdb==4.0.12+computecanada
gitpython==3.1.45+computecanada
h11==0.16.0+computecanada
hf_xet==1.1.10+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.35.3+computecanada
idna==3.11+computecanada
iniconfig==2.1.0+computecanada
ipykernel==6.29.5+computecanada
ipython==8.32.0+computecanada
ipywidgets==8.1.5+computecanada
jax==0.6.0+computecanada
jax_cuda12_pjrt==0.6.0+computecanada
jax_cuda12_plugin==0.6.0+computecanada
jaxlib==0.6.0+computecanada
jaxtyping==0.3.2+computecanada
jedi==0.19.2+computecanada
joblib==1.5.2+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.7.2+computecanada
jupyterlab_widgets==3.0.13+computecanada
kiwisolver==1.4.8+computecanada
markdown_it_py==4.0.0+computecanada
matplotlib==3.10.0+computecanada
matplotlib_inline==0.1.7+computecanada
mdurl==0.1.2+computecanada
ml_dtypes==0.5.1+computecanada
mpmath==1.3.0+computecanada
multidict==6.7.0+computecanada
multiprocess==0.70.16+computecanada
narwhals==2.5.0+computecanada
nest_asyncio==1.6.0+computecanada
nose==1.3.7+computecanada
numpy==2.2.2+computecanada
opt_einsum==3.4.0+computecanada
optax==0.2.6+computecanada
packaging==24.2+computecanada
pandas==2.2.3+computecanada
parso==0.8.4+computecanada
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
platformdirs==3.10.0+computecanada
plotly==6.3.0+computecanada
pluggy==1.6.0+computecanada
prompt_toolkit==3.0.50+computecanada
propcache==0.4.1+computecanada
protobuf==6.32.1+computecanada
psutil==6.1.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
pydantic==2.12.2+computecanada
pydantic_core==2.41.4+computecanada
pygments==2.19.1+computecanada
pyparsing==3.2.1+computecanada
pytest==8.4.2+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.1+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.2.1+computecanada
requests==2.32.5+computecanada
rich==14.2.0+computecanada
scikit_learn==1.7.1+computecanada
scipy==1.15.1+computecanada
sentry_sdk==2.38.0+computecanada
shtab==1.7.2+computecanada
six==1.17.0+computecanada
sklearn==0.0+computecanada
smmap==5.0.2+computecanada
sniffio==1.3.1+computecanada
stack_data==0.6.3+computecanada
sympy==1.13.3+computecanada
threadpoolctl==3.6.0+computecanada
toolz==1.0.0+computecanada
tornado==6.4.2+computecanada
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
typeguard==4.4.4+computecanada
typing_extensions==4.15.0+computecanada
typing_inspection==0.4.2+computecanada
tyro==0.9.17+computecanada
tzdata==2025.1+computecanada
urllib3==2.5.0+computecanada
wadler_lindig==0.1.7+computecanada
wandb==0.21.2+computecanada
wcwidth==0.2.13+computecanada
widgetsnbextension==4.0.13+computecanada
xxhash==3.5.0+computecanada
yarl==1.20.1+computecanada
